<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://www.gstatic.com/firebasejs/10.8.0/firebase-app-compat.js"></script>
    <script src="https://www.gstatic.com/firebasejs/10.8.0/firebase-firestore-compat.js"></script>
    <script src="https://www.gstatic.com/firebasejs/10.8.0/firebase-auth-compat.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link  href="https://cdn.jsdelivr.net/npm/vuetify@3.4.10/dist/vuetify.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/vuetify@3.4.10/dist/vuetify.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css" rel="stylesheet">
    <script src="https://www.gstatic.com/firebasejs/10.8.0/firebase-auth-compat.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <title>student</title>
    <style>
      .v-card-actions {
        background-image: url(./img/p2.jpg);
        background-size: cover;
        background-repeat: repeat-x;
      }
      
    </style>
</head>
<body>
    <div id = "app">
        <v-app>
            <v-container>
                <v-card>
                    <v-card-title class="bg-primary">{{title}}</v-card-title>
                      <v-card-actions >
                        <template v-if="user">
                          <div class="pa-2">
                              <v-avatar><img :src="user.photoURL" /></v-avatar>
                          </div>
                          <div class="pa-2">
                              {{user.displayName}}<br />
                              {{user.email}}<br/>
                          </div>
                      </template>
                    </v-card-actions>

                    <v-card v-if="editmode==='แบบฟอร์ม'">
                        <v-card-text class="pa-6">
                            <v-card-title class="bg-secondary">{{editmode}}</v-card-title>
                            <v-text-field v-model="editcheckin.id" label="รหัส" ></v-text-field>
                            <v-text-field type="datetime-local" v-model="editcheckin.class_date" label="เวลา"></v-text-field>
                            <v-text-field v-model="editcheckin.room" label="ห้อง"></v-text-field>
                            <div  v-for="(q) in quiz" class="pa-2"> 
                                 <h2>
                                    <h2>{{q.quiz_name}}</h2>
                                </h2>
                            </div><h5>ไก่กับไข่คุณคิดว่าเป็ดหรือไก่อะไรเกิดก่อนกัน?</h5><v-text-field v-model="editcheckin.qiz_send" label="คำตอบ"></v-text-field>

                       </v-card-text>
                       <v-card-actions>
                            <v-btn @click="saveqiz_back()" class="btn  bg-success">บันทึก</v-btn>
                            <v-btn @click="editmode=0" class="btn bg-warning">ยกเลิก</v-btn>
                       </v-card-actions>
                     </v-card>
    
                  
                    <v-card-actions>
                        <v-btn @click="sendob()" class="btn bg-secondary" >เช็คชื่อ</v-btn>
                        <a type="button" class="btn bg-danger" href="Login.html">กลับ</a>
                    </v-card-actions>
                    
                   
    
                    <v-card-actions>
                        <v-btn @click="google_login()" v-if="!user" class="btn bg-warning"> เข้าสู่ระบบ</v-btn>
                        <div v-if="user">
                          <v-btn @click="google_logout()" v-if="user" class="btn bg-info"> ออกจากระบบ</v-btn>   
                        </div>
                             
                    </v-card-actions>
                </v-card>
               

                          
              <div class="pa-6 text-center">{{footer}}</div>
            </v-container>        
          </v-app>
    </div>
    <script>

        const vuetify = Vuetify.createVuetify();
        const firebaseConfig = {
            apiKey: "AIzaSyAHeOL8_OzrE4KSslj8bM1nj6HMngABMN0",
            authDomain: "web2566-d5d9f.firebaseapp.com",
            projectId: "web2566-d5d9f",
            storageBucket: "web2566-d5d9f.appspot.com",
            messagingSenderId: "1055593341207",
            appId: "1:1055593341207:web:f969a6c3367653dfacd752",
            measurementId: "G-CXE9EBTL0H"
        };
          firebase.initializeApp(firebaseConfig);      
          const db = firebase.firestore();
  
        const app = Vue.createApp({
          data() {
            return {
              title: "Student",
              footer: " ",
              students: [],
              editstd: {},
              editquiz: {},
              quiz: [],
              editcheckin:{},
              editmode: 0,
              teachers: [],
              user: null,
              ustudent: null,
            };
          },
  
          
          mounted() {
              firebase.auth().onAuthStateChanged((user)=>{
                  if (user) {
                  this.user = user.toJSON();
                  }else{
                  this.user = null;
              }
              });
              db.collection("teachers") .get()
              .then((querySnapshot) => {
                  var teacherslist = [];
                  querySnapshot.forEach((doc) => {
                    teacherslist.push({ email: doc.email, ...doc.data() });
                  });
                  this.teachers = teacherslist;
              });
              db.collection("students")
              .get()
              .then((querySnapshot) => {
                  var stdlist = [];
                  querySnapshot.forEach((doc) => {
                  stdlist.push({ id: doc.id, ...doc.data() });
                  });
                  this.students = stdlist;
              });
              db.collection("quiz")
              .get()
              .then((querySnapshot) => {
                  var quizlist = [];
                  querySnapshot.forEach((doc) => {
                    quizlist.push({ id: doc.id, ...doc.data() });
                  });
                  this.quiz = quizlist;
              });

              
          },
          
  
  
          methods: {
            computed: {
                filteredList() {
                  return this.quiz.filter(post => {
                    return post.title.toLowerCase().includes(this.search.toLowerCase())
                  })
                }
              },
              autoRead() {
                  db.collection("students").onSnapshot((querySnapshot) => {
                  var stdlist = [];
                  querySnapshot.forEach((doc) => {
                      stdlist.push({ id: doc.id, ...doc.data() });
                  });
                  this.students = stdlist;
                  });
              },
              addData(){
                  this.editmode = "เพิ่มนักเรียน";
                  this.editstd = {};
              },

              addDataqiz(){
                this.editmode = "เพิ่มคำถาม";
                this.editquiz = {};
                },
                editqiz(std){
                    this.editstd = std;
                    this.editmode = "edit";
                },
              edit(std){
                  this.editstd = std;
                  this.editmode = "เพิ่มนักเรียน";
              },
              editqz(quiz){
                this.editquiz = quiz;
                this.editmode = "เพิ่มคำถาม";
            },
            sendob(){
                this.editmode = "แบบฟอร์ม";
                this.editcheckin={};
            },
              saveqiz_back(){
                    db.collection("checkin").doc(this.editcheckin.id).set(this.editcheckin);
              },
              deleteData(std) {
                  if (confirm("ต้องการลบข้อมูล")) {
                  db.collection("students").doc(std.id).delete();
                  }
              },
              deleteqiz(qiz) {
                if (confirm("ต้องการลบข้อมูล")) {
                db.collection("quiz").doc(qiz.id).delete();
                }
            },
              google_login() {
              // Using a popup.
              var provider = new firebase.auth.GoogleAuthProvider();
              provider.addScope("profile");
              provider.addScope("email");
              firebase.auth().signInWithPopup(provider);
            },
            google_logout(){
              if(confirm("Are you sure?")){
                firebase.auth().signOut();
                window.location.href = 'Login.html';
              }
            },
            getstudent(email){
              db.collection("students")
                .where("email","==",email)
                .limit(1)
                .get()
                .then(
                  (querySnapshot) => {
                   querySnapshot.forEach((doc) => {
                    this.ustudent = { id: doc.id, ...doc.data() };
                  });
                 }
              );
            },
  
          },
        });
        
        app.use(vuetify).mount("#app");
      </script>    
</body>
</html>